@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=SUSE:wght@100..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=SUSE:wght@100..800&display=swap");
.logo-panel {
  display: flex;
  justify-content: center;
}
.logo-panel img {
  max-width: 300px;
}

.column {
  display: flex;
  flex-direction: column;
  padding: 0px 20%;
  justify-content: center;
  justify-items: center;
}
.column .line {
  display: block;
}

.claim {
  display: block;
  text-align: center;
  font-weight: 600;
}

.content {
  background-color: white;
  padding: 20px 25%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  justify-self: center;
}
.content .btn {
  width: 100%;
  background-color: black;
  color: white;
  border: none;
}
.content .btn:hover {
  width: 100%;
  background-color: gray;
  color: black;
  border: none;
}
.content .btn:disabled {
  width: 100%;
  background-color: lightgray;
  color: black;
  border: none;
}

@media (max-width: 800px) {
  .content {
    padding: 10px 5%;
  }
}
h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  color: black !important;
  font-weight: 800 !important;
}

p, b, a, i, small {
  font-family: "SUSE", sans-serif;
  font-optical-sizing: auto;
}

.tc {
  display: block;
  text-align: center;
}

hr {
  color: black;
}