extends layout

block content
    .tc
        br
        br
        b Trička budou! 
        p Jdeme je rychle objednat a prodejní místo bude Kafíčko
        br
        br
    .tc
        b VLASTNĚ SE TADY VŠICHNI ZNÁME.
        br
        br            
        p I když patříme do různých skupinek.
        p Spojují nás Poděbrady.
        p Spojují nás společné zážitky, oblíbená místa a kamarádi.
        p Někdy nás spojují i společné problémy a bolesti.
        p Vždycky se dokážeme sejít, spojit a podpořit se navzájem.
        b DOKÁŽEME SE NAVZÁJEM I POHLÍDAT?            
            br
            | I KDYŽ PŮJDE O HOVNO?
    br
    br
    .tc
        b POJĎME SI SPOLEČNĚ ZKONTROLOVAT, ŽE NÁM RAKOVINA NEHROZÍ.
        br
        br            
        b 1.   REGISTRUJ SE
        p  pomocí 
            a(href="#formular") formuláře 
            | dole            
        b 2.   VYZVEDNI SI TEST                         
        br
        p  na akci 
            a(href="https://www.facebook.com/events/381008814472725" target="_blank") Loděbrady 24
            |  (14/9) nebo	v kavárně 
            a(href="https://www.facebook.com/kafickopodebrady" target="_blank") Kafíčko 
            |  (do 30/9)            
        b 3.   ODEVZDEJ VZOREK
        br
        p 21/9 si odeber vzorek, vyplň průvodku a dones to na            
            a(href="https://www.facebook.com/events/1016206209868309/?acontext=%7B%22event_action_history%22:%5B%7B%22surface%22:%22external_search_engine%22%7D,%7B%22mechanism%22:%22surface%22,%22surface%22:%22groups_highlight_units%22%7D%5D,%22ref_notif_type%22:null%7D&locale=cs_CZ" target="_blank") Gloriet Fest
            | , nebo si odeber vzorek kdykoli do konce září a v den odběru ho dones do libovolné laboratoře 
            a(href="https://www.unilabs.cz/cs/odberova-mista/stredocesky/S009" target="_blank") Unilabs
            | .
        b 4.   SDÍLEJ
        br
        p dej vědět všem, na kterých ti záleží            
        b 5.   NEBO SI TO UDĚLEJ PO SVÝM
        br
        p dojdi za svým praktickým lékařem, ale prosíme, nevyser se na to.
        br
        b JAK ČÍST VÝSLEDKY?
        p Lékař ti odpoví, jen zeptej se ho, on to ví:
        p Meze normálu jsou do 9, 9-15 je "šedá zóna", ale ve smyslu rakoviny stále negativní. Cokoliv nad 15 nutno konzultovat s praktikem.
        br
        br
        p Odborným garantem je 
            a(href="https://medaf.cz/" target="_blank") MUDr. Jan Frič
            | , jehož prostřednictvím předáme vzorky k vyhodnocení do poděbradské laboratoře 
            a(href="https://www.unilabs.cz/cs/odberova-mista/stredocesky/S009" target="_blank") Unilabs
            | . 
            a(href="/kolorektalni-karcinom") Zde                
            |  najdete jeho krátké odborné shrnutí. Výsledky dorazí pouze na tvůj e-mail, heslo k jeho otevření dostaneš do mobilu (oba údaje vyplň v průvodce vzorku). V případě pozitivního výsledku, dalších otázek na téma rakovinových onemocnění nebo v případě dalších dotazů k zdravotnímu stavu doporučujeme konzultaci s tvým 
            a(href="https://www.mesto-podebrady.cz/assets/File.ashx?id_org=12349&id_dokumenty=47218" target="_blank") praktickým lékařem.
        br
    #formular
        form#contact.tc(action="javascript:void(0)")
            .column
                .line.form-floating.mb-3
                    input#email.form-control(name="email" type='email' placeholder='jmeno@example.com' required)
                    label(for='email') e-mail
                .line.form-floating.mb-3
                    input#name.form-control(name="name" type='text' placeholder='jméno a příjmení')
                    label(for='name') jméno a příjmení
                .line.form-floating.mb-3
                    input#phone.form-control(name="phone" type='tel' placeholder='777 888 999')
                    label(for='phone') telefon
                .line.form-floating.mb-3
                    button#submit.btn(type="submit") Odeslat
    br
    br
    #gallery
        img.photo(src="/media/image-001.jpeg")
        img.photo(src="/media/image-002.jpeg")
    be
    .tc
        p Na četná přání - TRIČKA BUDOU! Jdeme je rychle objednat a prodejní místo bude Kafíčko.
        br
    .tc
        b SHIT MATTERS. JDE O HOVNO.
        br
        br
        b SÓLOVÝ SBOR & LOCAL CLUB & KAFÍČKO & YOPP & RDK & ADM
        br
        b A VŠECHNY NAŠE PODĚBRADSKÝ PARTY
        br
        a(href="mailto:jdeohovno@gmail.com") jdeohovno@gmail.com
        //p Jirka (724 255 686), Štěpán, Radek, Tomáš, Iris, Roman, Honza            
    br    
    .tc
        b Aktuální situaci sleduj na
        a(href="https://www.facebook.com/events/381008814472725/?active_tab=discussion" target="_blank")
            br
            br
            img(src="/media/fb.png" style="max-width: 50px;")
            br
            br
        .fb-page(data-href='https://www.facebook.com/events/381008814472725/' data-tabs='discussion' data-width='' data-height='' data-small-header='false' data-adapt-container-width='true' data-hide-cover='false' data-show-facepile='true')
    .tc        
        .logo-panel
            img(src="/media/logo.svg")
    br
    br
    .tc
        small Problémy s webem můžeš nahlásit na 
            a(href="mailto:info@evalytics.cz")  info@evalytics.cz
            | .