extends layout

block content
    .content
        .logo-panel
            img(src="/media/logo.svg")        
        br
        .claim
            h2 Mysleme na sebe!
        br
        hr 
        br        
        p Vlastně se všichni známe. I když patříme do různých skupinek.
        p Spojují nás Poděbrady, zážitky, věk, … kamarádi. 
        p Někdy nás spojují i společné problémy a bolesti.
        p Dokážeme se sejít, spojit, podpořit se navzájem. 
        p Dokážeme se navzájem i hlídat?
        p I když půjde o hovno?
        hr
        h5 Pojďme společně zkontrolovat, že nám rakovina nehrozí!
        ol
            li
                p 
                    b Zaregistruj se
                    |  pomocí 
                    a(href="#contact") formuláře 
                    | níže
            li
                p
                    b Sdílej
                    |  akci dál - čím víc nás bude, tím líp!
            li
                p
                    b Vyzvedni si testovací sadu 
                    | (spolu se samolepkou účastníka akce)
                    ul
                        li
                            p na akci 
                                a(href="https://www.facebook.com/events/381008814472725" target="_blank") Loděbrady 24 
                                |  (14. 9. 2024)
                        li
                            p o	v kavárně 
                                a(href="https://www.kaficko.net/" target="_blank") Kafíčko 
                                |  (15. 9. – 21. 9. 2024)
            li
                p
                    b Odeber vzorek
                    | , vyplň průvodku (v den odevzdání vzorku!) 
            li
                p
                    b Odevzdej vzorek na akci 
                    a(href="https://www.facebook.com/events/1016206209868309/?acontext=%7B%22event_action_history%22:%5B%7B%22surface%22:%22external_search_engine%22%7D,%7B%22mechanism%22:%22surface%22,%22surface%22:%22groups_highlight_units%22%7D%5D,%22ref_notif_type%22:null%7D&locale=cs_CZ" target="_blank") Gloriet Fest
                    |  v Altánu Poděbrady, 21. 9. 2024
        p A je to!
        p Vzorky budou prostřednictvím MUDr. Jana Friče předány k vyhodnocení v laboratoři Unilab v Poděbradech. Prostřednictvím stejného doktora získáš i informaci o výsledku.
        p V případě pozitivního výsledku testu, či v případě dalších otázek na téma rakovinových onemocnění, doporučujeme konzultaci s vaším praktickým lékařem.
        br
        hr
        br
        h2 Akce na hovno! Jsem pro:
        form#contact(action="javascript:void(0)")
            .column
                .line.form-floating.mb-3
                    input#email.form-control(name="email" type='email' placeholder='jmeno@example.com' required)
                    label(for='email') email
                .line.form-floating.mb-3
                    input#name.form-control(name="name" type='text' placeholder='jméno a příjmení')
                    label(for='name') jméno a příjmení
                .line.form-floating.mb-3
                    input#phone.form-control(name="phone" type='tel' placeholder='777 888 999')
                    label(for='phone') telefon
                .line.form-floating.mb-3
                    button#submit.btn(type="submit") Odeslat
        br
        br
        small Kdo, jak a za jakým účelem zachází s daty.
        br
        hr
        br
        h2 Kontakt
        b ohovno.cz 
        p Local Club z.s.
        p IČ: 09612823
        p Čechova 1445, Poděbrady III, 290 01 Poděbrady
        p Spolek je zapsán pod spisovou značkou	L 73979 u Městského soudu v Praze
        br
        p jmeno@email.cz
        p +420 777 888 999
