extends layout 

block content
    .tc
        p
            b Zhoubný nádor tlustého střeva a konečníku 
            | (učeně řečeno kolorektální karcinom) je v České republice co do počtu nových případů 2. nejčastějším zhoubným nádorem u mužů i u žen.
        p V celosvětovém srovnání se v počtu úmrtí na toto onemocnění Česká republika ještě v 90. letech pohybovala na pomyslné „bedně“, poté se díky preventivnímu programu podařilo zachycovat časná stadia onemocnění, a proto se aktuálně naše země v počtu nových případů nádorů tlustého střeva drží na průměru Evropské unie. Každopádně má ale počet nových případů u mužů i žen prakticky ve všech zemích světa vzrůstající tendenci (zřejmě vlivem životního stylu), a to zejména po padesátém roce věku.
        p Jako u ostatních nádorových onemocnění platí i v tomto případě, že při včasném záchytu nemoci je velmi pravděpodobné úplné vyléčení. V ideálním případě se podaří zachytit a odstranit onemocnění (např. určité typy střevních polypů), které zhoubným nádorem zatím není, ale během času se může zvrhnout. Tato onemocnění se velmi často projevují občasným krvácením do střeva, které lze pak detekovat ve stolici. Vyšetření přítomnosti krve ve stolici je sice trochu „ekl“, ale opravdu může potenciálně zachránit život. Na druhou stranu je třeba říci, že pozitivní výsledek vyšetření většinou  neznamená přítomnost zhoubného nádorového onemocnění a není třeba se tedy hned hroutit (většinou jde např. o hemoroidy nebo řitní trhliny při zácpě, které člověka na životě neohrožují).
        p V každém případě je ale záhodno případný pozitivní výsledek konzultovat s praktickým lékařem, který v některých případech odešle klienta ke kolonoskopickému vyšetření. To samozřejmě příliš příjemné není, ale má obrovskou výtěžnost a některá onemocnění může ihned zachytit, a proto stojí za to ho podstoupit.
        br
        b Takže pojďme na to, ať jsme zdraví! Jde o hovno!
        br
        br
        br
        .column            
            a(href="/") Zpět na hlavní stránku